* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Cabin", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-1: #0A2947;
    --color-2: #F3E4C9;
    --color-3: #D3D4C0;
    --color-4: #8B5E3C;
    --color-5: #467235;
    --color-6: #8DB355;
    --degrade-btn: linear-gradient(220deg, #62cef6, #2ebef2, #92e0fd);
}

body {
    height: 100vh;
    width: 100%;
}

.Nav-Bar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #000000;
    color: white;

}

.Title-Nav-Bar {
    font-size: 30px;
    font-weight: 750;
    letter-spacing: 2px;
    border: 5px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    color: #e6e6e7;
}

.ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    font-size: 22px;
}

.ul li a {
    color: rgb(255, 255, 255);
}

.ul li a:hover {
    color: rgb(0, 217, 255);
}

.BlockStart-1-Section .title-and-paragraph {
    text-align: center;
    padding: 70px;
    background: var(--degrade-btn);
    color: white;
}

.BlockStart-1-Section .title-and-paragraph h1 {
    font-size: 50px;
    font-weight: 950;
}

.BlockStart-1-Section .title-and-paragraph p {
    margin-top: 14px;
    font-size: 18px;
}

.BlockStart-1-Section .title-and-paragraph button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}

.BlockAboutMe-2-Section .About-Me {
    background: #000000;
    color: white;
    padding: 20px;
    padding-left: 25px;
}

.BlockAboutMe-2-Section .About-Me h1 {
    font-size: 30px;
    margin-top: 20px;
}

.BlockAboutMe-2-Section .About-Me p {
    margin-top: 15px;
    font-size: 19px;
}

.three-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 70px;
}

.three-cards .card-item {
    border: 10px solid #ffffff;
    padding: 30px 30px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 9px 5px 0px 4px #19b3eb;
}

.BlockInterests-3-Section .My-Interests .title-Inter {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.BlockInterests-3-Section .My-Interests .title-Inter p {
    margin-top: 15px;
    font-size: 19px;
}

.AllCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 20px;
    text-align: center;
    background-color: #000000;
}

.Mycard {
    border: 2px solid rgb(0, 4, 5);
    padding: 10px;
    border-radius: 20px;
    background: #f3fbff;
    box-shadow: 0px 0px 0px 10px rgb(255, 255, 255);
}

.Mycard button {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--color-1);
    cursor: pointer;
}

.Mycard button:hover {
    transition: 0.3s ease;
    transform: scale(1.02);
}

.BlockMyJourney-4-Section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--degrade-btn);
}

.BlockMyJourney-4-Section .Img-MyJourney {
    width: 45%;
    padding: 60px;

}

.Img-MyJourney img {
    width: 95%;
    border-radius: 60px;
    border: 13px solid #dbf2ff;
    box-shadow: 0px 0px 0px 15px rgb(143, 223, 253);
}

.My-Journey p {
    font-size: 35px;
    font-weight: 750;
    margin-top: 30px;
    margin-right: 40px;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

.My-Journey p:hover {
    transition: 0.3s ease-in-out;
    transform: translateY(-8px);
    box-shadow: 0px 0px 1px 2px white;
}


.WhastApp {
    background-color: rgb(4, 8, 10);
    color: white;
    flex-direction: column;
    padding: 70px;
    text-align: center;
    font-size: 25px;
}

.WhastApp button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--color-1);
    cursor: pointer;
    margin-left: 30px;
}

.footer-start {
    background-color: black;
    color: white;
    display: flex;
    padding: 30px;
    gap: 20%;
}

.footer-start h2 {
    margin-bottom: 12px;
    font-weight: 850;
}

.Navigation-links h2 {
    font-weight: 850;
}

.Contacts h2 {
    font-weight: 850;
}

.footer-end {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 10px;
}

.Navigation-links p {
    color: white;
}

.Navigation-links p:hover {
    color: #19b3eb;
    cursor: pointer;
}